language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

cache:
  directories:
    - $HOME/.php-cs-fixer

before_script:
  - travis_retry composer install --prefer-source --no-interaction

script:
  - vendor/bin/phpspec run --config=phpspec.yml --no-interaction -vvv
  - vendor/bin/php-cs-fixer fix --config=.php_cs.dist --verbose --diff --dry-run
  - vendor/bin/phpstan analyse -c phpstan.neon