parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '# has no return typehint specified\.$#'
        - '#Parameter \#2 \$value of method SimpleXMLElement::addChild\(\) expects string, null given\.#'